body {
  max-width: 70%;
  margin: auto;
}

:root { 
	--color1: #d9dad7; 
    --color2: #c24d2c;
    --color3: #3e4a61;
    --color4: #1a2639;
}
	
.App {
    margin: 10% 23%; 
    border-style: solid;
    border-width: 3px;
    border-color: var(--color3);
    padding: 20px;
    width: 50%;
    background-color: var(--color1);
    display: inline-block
}

.title {
    text-align: center;
    margin: auto;
    border-style: dashed;
    border-width: 3px;
    border-color: var(--color3);
    font-family: 'Times New Roman', Times, serif;
}

.title #title2 {
    display: inline-block;
}

.title h3 {
    color: var(--color3);
    font-size: 40px;
    margin: 0;
    display: inline-block;
}

.title #count {
    color: var(--color2);
    margin: 15px 10px;
}

.content {
    margin: 10px 0;
    padding: 15px;
    display: inline-block;
    width: 94%;
    border-style: dashed;
    border-width: 3px;
    border-color: var(--color3);
}

#button {
    width: 60px;
    height: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 10px 10px;
    text-align: center;
    vertical-align: middle;
}

#button img {
    margin: 5px;
    position: relative;
}

.row {
    display: block;
    width: 100%;
}

.square {
    width: 45%;
    max-height: 100px;
    display: inline-block;
    padding: 5px;
    margin: 3px;
    border-style: dashed;
    border-width: 3px;
    border-color: var(--color3);
}

.square p {
    width: 60%;
    display: inline-block;
    margin: 20px 0;
    vertical-align: middle;
}

.square #count {
    color: var(--color2);
    width: auto;
    margin: auto;
}